
{% extends "default.html" %}
{% load i18n %}

{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td><table border="0" name="" width="100%" cellpadding="5" cellspacing="0">
      <tr align="" valign="">
        <td colspan="" rowspan="" width="100%" align="left" valign="middle"><table summary="image table" cellpadding="0" cellspacing="0" border="0" width="113" style="">
          <tr>
            <td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td align="center">
				<img width="88" src="http://store.speedycomputers.us/wmedia/images/88_SpeedyComputers1Small.jpg" alt="" border="0" height="88" /></td>
              </tr>
              <tr>
                <td align="center"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table>
      <table border="0" name="" width="100%" cellpadding="5" cellspacing="0">
        <tr align="" valign="">
          <td colspan="" rowspan="" width="100%" align="" valign="top"><p editor_id="mce_editor_0"><font face="arial, verdana, sans-serif" editor_id="mce_editor_0"><font color="#339999" editor_id="mce_editor_0"><strong>Commitment, performance, excellence and innovation are our standards</strong></font> that have enabled the company to grow without compromising the quality of its products and services. <br />
            </font><font face="arial, verdana, sans-serif" editor_id="mce_editor_0">When selecting a firm to assist you with your computer system development and support, it is important to consider not only your current needs, but also your future plans.&nbsp;<br />
              Our company’s mission is simple.&nbsp; We want to provide the best computer services, in the quickest timeframe, as inexpensively as possible.&nbsp;<br />
              <strong editor_id="mce_editor_0"><font color="#339999">We build brand new computers from industry standard, quality parts.</font></strong>&nbsp; We will custom design and build <U>your</U> new computer just the way you want.</font></p></td>
        </tr>
      </table>
      <table border="0" name="" width="100%" cellpadding="5" cellspacing="0">
        <tr align="" valign="">
          <td colspan="" rowspan="" width="100%" align="center" valign="top"><table summary="image table" cellpadding="0" cellspacing="0" border="0" width="419" style="">
            <tr>
              <td align="center" valign="top"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td align="center">
					<img width="394" src="http://store.speedycomputers.us/wmedia/images/LitePC.png" alt="" border="0" height="300" /></td>
                </tr>
                <tr>
                  <td align="center"></td>
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
      </table>
      <table border="0" name="" width="100%" cellpadding="5" cellspacing="0">
        <tr align="" valign="">
          <td colspan="" rowspan="" width="100%" align="center" valign="top"><table summary="image table" cellpadding="0" cellspacing="0" border="0" width="419" style="">
            <tr>
              <td align="center" valign="top"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td align="center">
					<img width="394" src="http://store.speedycomputers.us/wmedia/images/standardPC.png" alt="" border="0" height="304" /></td>
                </tr>
                <tr>
                  <td align="center"></td>
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
      </table>
      <table border="0" name="" width="100%" cellpadding="5" cellspacing="0">
        <tr align="" valign="">
          <td colspan="" rowspan="" width="100%" align="center" valign="top"><table summary="image table" cellpadding="0" cellspacing="0" border="0" width="419" style="">
            <tr>
              <td align="center" valign="top"><table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                  <td align="center">
					<img width="394" src="http://store.speedycomputers.us/wmedia/images/Pre_GamingPC.png" alt="" border="0" height="304" /></td>
                </tr>
                <tr>
                  <td align="center"></td>
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
      </table>
      <table border="0" name="" width="100%" cellpadding="5" cellspacing="0">
        <tr align="" valign="">
          <td colspan="" rowspan="" width="100%" align="" valign="top"><p editor_id="mce_editor_0"><font color="#ff0000"><strong><em><span editor_id="mce_editor_0"><font color="#339999">Why your company needs PC and network maintenance?</font><br />
            <br />
            Once you've had your computer freeze up, quit, lose data, hang up, or one of many other ills, you will begin to understand the value of PC maintenance. Sooner or later you will really,<span>&nbsp; </span>REALLY<span>&nbsp; </span>be sorry. <br />
            </span></em><em><span></span></em><i><span>... !!!DATA LOSS!!! ...<br />
              </span></i></strong></font><em><span><br />
                </span></em><em><span></span></em><span editor_id="mce_editor_0">Preventive maintenance<i> </i></span><span editor_id="mce_editor_0">refers to performing proactive maintenance in order to prevent system problems. This is contrasted to diagnostic or corrective maintenance, which is performed to correct an already-existing problem. This is one of the most ignored aspects of PC ownership. Most people seem to think that the PC doesn't need preventive maintenance, and so you should just use it until it breaks, and then repair or replace it. These people generally find themselves repairing or replacing much sooner than those that take definite steps to avoid difficulties in the first place.<br />
                  </span><span></span><b><span><font size="3" editor_id="mce_editor_0"><br />
                    <font color="#339999" editor_id="mce_editor_0">Reasons why you should make a preventive maintenance plan for your PC:<br />
                  </font></font></span></b><b><span></span></b><b><span><br />
                        Preventive Maintenance Helps Safeguard Your Data:</span></b><span> For most people, the data on the hard disk is more important than the hardware that houses it. Taking steps to protect this data therefore makes sense, and that is what PM is all about. <br />
                          </span><b><span></span></b><b><span editor_id="mce_editor_0">Preventive Maintenance Improves Performance:</span></b><span> Some parts of your system will actually degrade in performance over time, and preventive maintenance will help to improve the speed of your system in these respects. <br />
                            </span><b><span></span></b><b><span>Preventive Maintenance Saves Time:</span></b><span> Saves time? How can taking two hours a month or whatever to perform maintenance save time? Simple: because it saves you the much bigger hassles of dealing with system failures and data loss. Most preventive maintenance procedures are quite simple compared to troubleshooting and repair procedures--now <i>those</i> can really eat up your time at a fantastic rate. <br />
                              </span><b><span></span></b><b><span>Preventive Maintenance Saves Money:</span></b><span> We are sure we've all heard the old adage &quot;an ounce of prevention is worth a pound of cure&quot;. It's trite, but it is also true. Avoiding problems with your PC will save you money in the long run, compared with laying out cash for new components or repair jobs. <br />
                                </span><b><span></span></b><b><span></span></b><b><span><font size="3" editor_id="mce_editor_0"><br />
                                  <font color="#339999">Maintenance Plan Member Pricing:<br />
                                </font></font></span></b><span><span><br />
                                      §<span editor_id="mce_editor_0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><b><span>1</span></b><span> PC / month / same location / <b>$90</b> / 2 hour visit by month (<b>2 hour on-site emergency service free</b>)<br />
                                        </span><span><span>§<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><b><span>2 - 5</span></b><span> PC's / month / same location / <b>$225</b> / 4 hours visit by month (<b>4 hour on-site emergency service free</b>)<br />
                                          </span><span><span>§<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><b><span>6 - 10</span></b><span> PC's / month / same location / <b>$450</b> / 4 hours visit by month (<b editor_id="mce_editor_0">6 hour on-site emergency service free</b>)<br />
                                            </span><span><span>§<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><b><span editor_id="mce_editor_0">11-20</span></b><span editor_id="mce_editor_0">PC's / month / same location / <b>$720</b> /<span>&nbsp; </span>4 hours visit by month (<b editor_id="mce_editor_0">8 hour on-site emergency service free</b>)<br />
                                              <span><span>§<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><b><span editor_id="mce_editor_0">21-30</span></b><span editor_id="mce_editor_0">PC's / month / same location / <b editor_id="mce_editor_0">$810</b> /<span>&nbsp;&nbsp;</span>6 hours visit by month (<b editor_id="mce_editor_0">10 hour on-site emergency service free</b>)<br />
                                                </span></span><span><span>§<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span><B><SPAN editor_id="mce_editor_0">31 and more or PCs located in different locations, please call for agreement.<br />
          </p>
            </SPAN></B><span></span><span><ins cite="mailto:Jorge" datetime="2003-10-29T14:29"><br clear="all" />
              </ins></span><span></span><b><span editor_id="mce_editor_0"><font color="#339999">Member receives:<br />
                </font><br />
                </span></b><b><span></span></b><span><span>§<span editor_id="mce_editor_0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span><span>Free 24/7 including weekends and holydays unlimited phone support.<br />
                  </span>
            <ul type="square">
              <li editor_id="mce_editor_0"><span>On site support within <b>12 – 24 hours maximum. </b></span></li>
              <li editor_id="mce_editor_0"><span></span><span>Unlimited Support via Email and web within 12-hour </span></li>
            </ul>
            <span><span>§<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span>Free remote access configuration to support servers and workstation.<br />
              </span><span><span>§<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span>Printers and other peripherals included on service.<br />
                </span><span></span><b><span editor_id="mce_editor_0"><br />
                  <font color="#339999">Included Services:<br />
                </font></span></b><span>&nbsp;<br />
                      </span><b><span>Define Backup and Emergency Restoration Plans<br />
                        </span></b><b><span></span></b>
            <ul type="square">
              <li editor_id="mce_editor_0"><span>Consult, define and implement a comprehensive backup and data restoration plan.</span></li>
              <li editor_id="mce_editor_0"><span>Update emergency boot floppies and CDs.</span></li>
              <li editor_id="mce_editor_0"><span>OS and software update is our responsibility. We do maintain the system for you. </span></li>
              <li editor_id="mce_editor_0"><span>Troubleshooting with the hardware and software.</span></li>
            </ul>
            <b><span></span></b><b><span><font color="#339999">Virus Information<br />
              </font></span></b><b><span></span></b>
            <ul type="square">
              <li editor_id="mce_editor_0"><span>Virus detection and cleaning.</span></li>
              <li editor_id="mce_editor_0"><span>Automatic and manual antivirus update.</span></li>
            </ul>
            <b><span></span></b><b><span><font color="#339999">System Maintenance</font><br />
              </span></b><b><span></span></b>
            <ul type="square">
              <li editor_id="mce_editor_0"><span>Hardware internal and external clean. </span><span>Check power supply fan for ventilation and dirt buildup and clean if necessary. Clean floppy disk drive and CD drive internals and read/write heads. </span></li>
              <li editor_id="mce_editor_0"><span>Check processor temperature, inspect heat sink and fan to ensure they are working.</span></li>
              <li editor_id="mce_editor_0"><span>Check power protection devices to ensure they are still protecting the system.</span></li>
              <li editor_id="mce_editor_0"><span></span><span>Create a log book for your PC and </span><span>Keep all important changes in log book.</span></li>
              <li editor_id="mce_editor_0"><span>List all critical data on your PC.</span></li>
              <li editor_id="mce_editor_0"><span>Custom Desktop Configurations and custom startup and preferences.</span></li>
              <li editor_id="mce_editor_0"><span>Hard drive file maintenance and </span><span>scan hard disk file systems for errors.</span><span><br />
              </span></li>
            </ul>
            <b><span><font color="#ff0000">All PC's to be maintained by Speedy Computers, Inc. will be evaluated, prior to the enactment of a maintenance agreement, to make sure PC's are in working order. Any upgrades or repairs needed, prior to the acceptance of the PC for maintenance, will be the sole responsibility of the customer. Speedy Computers, Inc. will give the customer a written quote for the necessary repairs of the equipment. <br />
            </font></span></b></td>
        </tr>
      </table>
      <table border="0" name="" width="100%" cellpadding="5" cellspacing="0">
        <tr align="" valign="">
          <td colspan="" rowspan="" width="100%" align="" valign="top"><p editor_id="mce_editor_0"><font face="Arial,Geneva,Verdana,Sans-Serif" color="#000000" size="3"><strong><em editor_id="mce_editor_0">We are located at:<br />
          </em></strong></font></p>
            <font face="Arial,Geneva,Verdana,Sans-Serif" size="3" editor_id="mce_editor_0">
              <address editor_id="mce_editor_0">
                <strong><font size="4"><font face="arial, verdana, sans-serif"><font size="+0"><span editor_id="mce_editor_0"><font color="#000000" editor_id="mce_editor_0">12319&nbsp;SW 132nd Ct,&nbsp;STE A<br />
                  </font></span></font></font></font></strong><strong><font size="4"><font face="arial, verdana, sans-serif"><font size="+0"><span editor_id="mce_editor_0"><font color="#000000">Miami, FL 33186</font></span><span><br />
                    </span></font></font></font></strong>
            </address>
            </font>
            <address editor_id="mce_editor_0">
              <font face="Arial,Geneva,Verdana,Sans-Serif" color="#000000" size="3"><strong editor_id="mce_editor_0">Office: 305.969.4455</strong></font>
            </address>
            <address>
              <font face="Arial,Geneva,Verdana,Sans-Serif" color="#000000" size="3"><strong editor_id="mce_editor_0">Mobil: 305.322.6055</strong></font>
            </address>
            <address editor_id="mce_editor_0">
              <font face="Arial,Geneva,Verdana,Sans-Serif" color="#000000" size="3"><strong editor_id="mce_editor_0">E-mail: support@speedycomputers.us</strong></font>
            </address></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>

{% endblock %}