{% extends "real_base.html" %}
{% load i18n %}
{% block content %}

<p><b><font color="#808000" size="5"> Informaci&oacute;n</font></b></p>
<p>Hemos dividido la informaci&oacute;n en dos secciones importantes.  Una el
<a href="{% url 'adapt' %}">proceso de
adaptaci&oacute;n</a> cuando se llega a Miami y la otra, en los primeros tiempos de la
llegada, donde debes conocer como<a href="/informacion/estabilidad"> estabilizarte</a>. Esperamos esta informaci&oacute;n te
sea &uacute;til. Cualquier sugerencia use la secci&oacute;n del men&uacute; con este prop&oacute;sito.</p>

{% endblock %}
