{% extends "real_base.html" %}
{% load i18n %}

{% block content %}


<p>
<FONT color=#339999 editor_id="mce_editor_0" face="arial, verdana, sans-serif">
<b>Cubanos hacia MIAMI</b></font></p>
<p>Bienvenido cubano!!, aqu&iacute; encontrar&aacute;s la informaci&oacute;n que buscabas para hacer
m&aacute;s f&aacute;cil tu estabilizaci&oacute;n en estas tierras. Te diremos d&oacute;nde buscar trabajo,
c&oacute;mo es el proceso de chequeos m&eacute;dicos, c&oacute;mo buscar ayuda financiera del gobierno a los
reci&eacute;n llegados, c&oacute;mo ubicarte en esta ciudad, y muchas otras informaciones.</p>
<p>Adem&aacute;s te ofrecemos un sitio para Encuestas donde podr&aacute;s ver la opini&oacute;n sobre
temas como:</p>
<ul>
	<li>Cu&aacute;les son las opciones de tiendas m&aacute;s baratas</li>
	<li>Mejores lugares para rentar</li>
	<li>Mejor forma de llamar a Cuba</li>
	<li>Mejores formas de enviar dinero a Cuba</li>
	<li>La Mejor forma de enviar alimentos y medicinas a Cuba</li>
	<li>etc.</li>
</ul>
<p>Esperamos que te sea de mucha utilidad en tu periplo por este pa&iacute;s. </p>
<p>Si vives en USA ya y quieres que este sitio se mantenga no hay nada mejor que
una donaci&oacute;n. Si vives en Cuba y no tienes forma de donar nada, ay&uacute;danos dando
click en los enlaces patrocinados, muchas gracias. </p>


<p>{% endblock %}</p>
