{% extends "cubabase.html" %}

{% block rightcontent %}
<SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822/US/cubanoshaciam-20/8004/5e2c1fd3-ec62-45a4-b00d-f6655e78dfba"> </SCRIPT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcubanoshaciam-20%2F8004%2F5e2c1fd3-ec62-45a4-b00d-f6655e78dfba&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
				  
{% endblock %}
