{% extends "www.speedycomputers.us.htm" %}
{% load i18n %}
<span lang="en-us">
{% block content %}<h1>&nbsp;B&uacute;squeda de Empleo</h1>
<p>La b&uacute;squeda de empleo es el primer trabajo que tendr&aacute;s cuando llegues a 
Miami. Ahora el empleo est&aacute; escas&iacute;simo y es por eso que ser&aacute; una gran 
dificultad.</p>
<p>Los sitios Webs que te pueden ayudar son:</p>
<table border="1" width="26%" id="table1">
	<tr>
		<td width="247"><a href="http://www.simplyhired.com">www.simplyhired.com</a></td>
	</tr>
	<tr>
		<td width="247"><a href="http://www.careerbuilder.com">
		www.careerbuilder.com</a></td>
	</tr>
	<tr>
		<td width="247"><a href="http://www.monsters.com">www.monsters.com</a></td>
	</tr>
	<tr>
		<td width="247"><a href="http://www.craiglist.com">
		http://www.craiglist.com</a></td>
	</tr>
	<tr>
		<td width="247"><a href="http://www.CareerJournal.com">
		http://www.CareerJournal.com</a></td>
	</tr>
	<tr>
		<td width="247"><a href="http://www.Indeed.com">http://www.Indeed.com</a></td>
	</tr>
	<tr>
		<td width="247"><a href="http://www.Job.com">http://www.Job.com</a></td>
	</tr>
	<tr>
		<td width="247"><a href="http://hotjobs.yahoo.com/">
		http://hotjobs.yahoo.com/</a></td>
	</tr>
	<tr>
		<td width="247">&nbsp;</td>
	</tr>
</table>
<p>Hosting price is <font color="#000080">USD 10 each month.&nbsp; </font><br>
&nbsp;</p>
<span></span>{% endblock %}
