{% extends "www.speedycomputers.us.htm" %}
{% load i18n %}

{% block content %}<h1>&nbsp;We also provide Hosting</h1>
<p>If you want hosting for your new blog, your os commerce site or simply your 
web site we can provide hosting for you.</p>
<p>The platform is:</p>
<table border="1" width="26%" id="table1">
	<tr>
		<td width="247">Win2000</td>
	</tr>
	<tr>
		<td width="247">Apache 2.2</td>
	</tr>
	<tr>
		<td width="247">MySQL 5.0</td>
	</tr>
	<tr>
		<td width="247">python + django</td>
	</tr>
	<tr>
		<td width="247">php 5</td>
	</tr>
	<tr>
		<td width="247">&nbsp;</td>
	</tr>
</table>
<p>Hosting price is <font color="#000080">USD 10 each month.&nbsp; </font><br>
&nbsp;</p>
<p>{% endblock %}</p>
