{% extends "www.speedycomputers.us.htm" %}
{% load i18n %}

{% block content %}<h1>&nbsp;We repair PC in&nbsp; Miami</h1>
<p>If you have a problem with your computer we can solve your problem. We can do 
both hardware and software repair. The cost will depend of the amount of time 
requiered for get the job done. We put some clues here in order to facilitate a 
budget:</p>
&nbsp;<table border="1" width="100%" id="table1">
	<tr>
		<td width="456"><b><span editor_id="mce_editor_0"><font color="#339999">
		Services</font></span></b></td>
		<td width="75"><b><span editor_id="mce_editor_0"><font color="#339999">
		Estimated Time</font></span></b></td>
		<td width="173"><font color="#339999"><b>Maximum Hours </b></font></td>
		<td><font color="#339999"><b>&nbsp;Max. Payment</b></font></td>
	</tr>
	<tr>
		<td width="456">Consult, define and implement a comprehensive backup and 
		data restoration plan.</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="456">Update emergency boot floppies and CDs</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="456">OS reinstallation</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="456">Troubleshooting with the hardware and software</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="456">
		<ul>
			<li>Check power supply fan for ventilation and dirt buildup and 
			clean if necessary. </li>
			<li>Clean floppy disk drive and CD drive internals and read/write 
			heads. </li>
			<li editor_id="mce_editor_0">Check processor temperature, inspect 
			heat sink and fan to ensure they are working.</li>
			<li editor_id="mce_editor_0">Check power protection devices to 
			ensure they are still protecting the system.</li>
			<li editor_id="mce_editor_0">Check processor temperature, inspect 
			heat sink and fan to ensure they are working.</li>
			<li editor_id="mce_editor_0">Check power protection devices to 
			ensure they are still protecting the system.</li>
		</ul>
		<p>&nbsp;</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="456">&nbsp;</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>
<p><br>
&nbsp;</p>
<p>{% endblock %}</p>
