{% extends "www.speedycomputers.us.htm" %}
{% load i18n %}

{% block content %}<h1>&nbsp;Replace Microsoft Vista OS by XP OS</h1>
<p>&nbsp;Maybe you bought a laptop or a desktop computer and the&nbsp; operating 
system installed Vista but you don't like it and you want to replace it for XP 
don't hesitate, <a href="/contactus">contact us.</a><br>
&nbsp;</p>
<p><font color="#000080">Our wage is USD 45 dollars for this service.</font> </p>
<p>If you does not need any back up it only takes 2 hours, for only
<font color="#000080">90</font> dollars you have the Operating System that you 
like.</p>
<p>{% endblock %}</p>
