{% extends "www.speedycomputers.us.htm" %}
{% load i18n %}

{% block content %}<h1>&nbsp;Crystal Reports</h1>
<p>If you have an application and you want to change one of your reports or if 
you want another maybe it's time to contact us. We can do it for you. 
<font color="#000080">Hour 
Wage is USD 12.</font></p>
<p>&nbsp;</p>
<table border="1" width="100%" id="table1">
	<tr>
		<td width="456"><b><span editor_id="mce_editor_0"><font color="#339999">
		Services</font></span></b></td>
		<td width="75"><b><span editor_id="mce_editor_0"><font color="#339999">
		Estimated Time</font></span></b></td>
		<td width="173"><font color="#339999"><b>Maximum (billed)</b></font></td>
		<td><font color="#339999"><b>&nbsp;Max. Payment</b></font></td>
	</tr>
	<tr>
		<td width="456">If you have passwords to access your database, we can 
		design a crystal report and programmed an application for access that 
		new report.</td>
		<td width="75">5 - hours</td>
		<td width="173">&nbsp; 8 - hours</td>
		<td>&nbsp;USD 96</td>
	</tr>
	<tr>
		<td width="456">Customize an existing crystal report</td>
		<td width="75">2 - hours</td>
		<td width="173">&nbsp; 5 - hours</td>
		<td>&nbsp;USD 60</td>
	</tr>
	<tr>
		<td width="456">&nbsp;</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>
<p><br>
&nbsp;</p>
<p>{% endblock %}</p>
