{% extends "www.speedycomputers.us.htm" %}
{% load i18n %}

{% block more_head %}
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <script language ="javascript">
	
	function MuestraResultado(rslt){
	    var container = document.getElementById("Resultado"); 
	    container.innerHTML = rslt.toFixed(2);
	    
	   	return rslt;
    }
    
	function MillasAKm(){
	    var millas = document.getElementById("Cuanto").value;
	    MuestraResultado(millas*1.609344);
	    
	}

	function k2m () {
		var km = document.getElementById('Cuanto').value;
		var mi = 0;
		if (!isNaN(km)) 
		{
		    mi = km * 0.621371192;
		}
	    MuestraResultado(mi);
	}

function Fa2Ce()
{
    var fa = document.getElementById('Cuanto').value;
	var converted_temperature = (fa - 32) / 1.8;
	MuestraResultado(converted_temperature);
}

function Ce2Fa()
{
    var ce = document.getElementById('Cuanto').value;
	var converted_temperature = (ce * 1.8) + 32;
	MuestraResultado(converted_temperature);
}

function MeterToFoot()
{
    //1 meter = 3.2808399 feet
    var m = document.getElementById('Cuanto').value;
	var converted = (m / 3.2808399);
	MuestraResultado(converted);
}
function FootToMeter()
{
    //1 meter = 3.2808399 feet
    var f = document.getElementById('Cuanto').value;
	var converted = (f * 3.2808399);
	MuestraResultado(converted);
}


function GallonToLiter()
{
    //1 liter = 0.264172052 US gallons
    var g = document.getElementById('Cuanto').value;
	var converted = (g * 3.7854117891320312718016060230323);
	MuestraResultado(converted);
}
function LiterToGallon()
{
    //1 liter = 0.264172052 US gallons
    var l = document.getElementById('Cuanto').value;
	var converted = (l * 0.264172052);
	MuestraResultado(converted);
}

    </script>
</meta>
{% endblock %}

{% block content %}<h1>Conversiones Necesarias</h1>
<p>Otro de los problemas que enfrentamos cuando llegamos es que estamos 
acostumbrados a los grados Celsius para medir temperatura y los metros y los kil&oacute;metros 
para medir distancia. En E.E.U.U. se usan los grados Fahrenheit para medir la 
temperatura y los pies y millas para la distancia.</p>
<p>Para hacer las conversiones de una unidad de medida a otra puedes usar 
seguramente tu celular, o f&oacute;rmulas en Microsoft Excel, el Babylon o 
cualquier otro programa. Nosotros te ofrecemos otra variante adicional solo con las conversiones m&aacute;s necesarias para el cambio de Cuba a Miami</p>


<label>Cuanto  &nbsp;&nbsp;&nbsp; </label>   <input type="text" style ="text-align:right" id="Cuanto" name="hr" value="40"></input><br />
<br/>
<table>
<tr><font style="bold">
<td> Millas - Km</td>
<td> Metros - Pies </td>
<td> Temperatura</td>
<td> Galones - Litros</td>
</font>
</tr>
<tr>
<td> 
<button onclick="MillasAKm();">Millas a Km</button><br />
<button onclick="k2m();">Km a Millas </button>
</td>
<td> 
<button onclick="FootToMeter();">Pies a Metros</button><br />
<button onclick="MeterToFoot();">Metros a Pie</button>
</td>
<td>  
<button onclick="Fa2Ce();">Fahrenheit a Celsius</button><br />
<button onclick="Ce2Fa();">Celsius a Fahrenheitn</button><br />
</td> 
<td>  
<button onclick="GallonToLiter();">Galones a Litros</button><br />
<button onclick="LiterToGallon();">Litros a Galones</button><br />
</td> 
 
</tr>
</table>
<br />
<label>Resultado</label>

<div id="Resultado"></div><br />

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>{% endblock %}</p>





				
