{% extends "real_base.html" %}
{% load i18n %}

{% block content %}<h1>&nbsp;Web design </h1>
<p>If you want cut the cost of your business or reach a broader market you can 
have <b><font color="#800000">your own online store</font></b>.</p>
<p>Maybe you like to have <font color="#800000"><b>your own site to </b></font>
<b><font color="#800000">demonstrate</font></b><font color="#800000"><b> your 
skills. </b></font>You can tell your potential employer: visit my web site and 
you will see what I had done in the past, what are my future goals, my opinions, 
etc. We can do it for you. <font color="#000080">Hour Wage is USD 12</font>.</p>
<p>&nbsp;</p>
<table border="1" width="100%" id="table1">
	<tr>
		<td width="456"><b><span editor_id="mce_editor_0"><font color="#339999">
		Services</font></span></b></td>
		<td width="75"><b><span editor_id="mce_editor_0"><font color="#339999">
		Estimated Time</font></span></b></td>
		<td width="173"><font color="#339999"><b>Maximum Hours </b></font></td>
		<td><font color="#339999"><b>&nbsp;Max. Payment</b></font></td>
	</tr>
	<tr>
		<td width="456">Design and customize an e-commerce (using os-commerce)</td>
		<td width="75">4- days</td>
		<td width="173">&nbsp; 5 days ( 8 * 5) = 40</td>
		<td>&nbsp;USD 480 </td>
	</tr>
	<tr>
		<td width="456">A general web site using python + django</td>
		<td width="75">to discuss</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="456">&nbsp;</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="456">&nbsp;</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="456">&nbsp;</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="456">&nbsp;</td>
		<td width="75">&nbsp;</td>
		<td width="173">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>
<p><br>
&nbsp;</p>
<p>{% endblock %}</p>
