{% extends "real_base.html" %}
{% load i18n %}

{% block content %}<h1>VOIP</h1>
<p>You can reduce your telephone bills using the future of telephony services:
<a href="http://en.wikipedia.com/wiki/voip">VOIP</a>.</p>
<p>It is easy also to program an
<a href="http://en.wikipedia.com/wiki/interactive_voice_response">IVR</a> (automatic 
voice response) than handle your incoming calls and do whatever you want. </p>
<p>Anything related with <a href="http://en.wikipedia.com/wiki/voip">VOIP</a> 
you can <a href="/contactus">contact us.</a> We are here to listen and try to 
solve your computers problems.<br>
&nbsp;</p>
<p>{% endblock %}</p>
