{% extends "real_base.html" %}
<span lang="es">

{% block content %}
<H1> Ciudadanía Española</h1>
 OFERTA DE GESTION  Y TRAMITACION DE DOCUMENTOS PARA SOLICITAR LA NACIONALIDAD ESPAÑOLA POR LOS HIJOS Y NIETOS DE EMIGRANTES ESPAÑOLES QUE RESIDIEN EN E.U.</br>
</br>
1.	BENEFICIOS DE LA NACIONALIDAD ESPAÑOLA DE LOS RESIDENTES EN E.U. NACIDOS EN CUBA:</br>
&nbsp;&nbsp;&nbsp;&nbsp;a.	Si es nieto y sus hijos son menores de 18 años y ellos se encuentran en Cuba, antes del 2011 también pueden solicitar y obtener de dicha nacionalidad española fecha presentando la certificación consular de su padre y de mas documentos de dichos hijos en Consulado Español en Cuba  y posteriormente viajar libremente a E.U. por espacio de 3 meses a visitar su padre/madre o acogerse a los derechos de permanecer en este país, por las leyes específicas para los cubanos y así reunificar la familia en muy poco tiempo.</br>
&nbsp;&nbsp;&nbsp;&nbsp;b.	Pueden adquirir esta nacionalidad española en menos de un año,  si por alguna razón no han adquirido la de Estados Unidos, y ésta les resulta muy difícil obtenerla, pudiendo después recibir los beneficios económicos-sociales de España de acuerdo con las edades de cada tipo de beneficio.</br>
&nbsp;&nbsp;&nbsp;&nbsp;c.	Les posibilita residir y trabajar legalmente en España, en caso de que por alguna razón quiera tomar la decisión de ir para ese país.</br>
&nbsp;&nbsp;&nbsp;&nbsp;d.	De resultar difícil o muy demorada la reunificación familiar en E.U., la puede realizar en España mucho mas fácil.</br>
&nbsp;&nbsp;&nbsp;&nbsp;e.	Puede tener las dos nacionalidades, en caso de que tenga ya la norteamericana y disfrutar de ambos beneficios.</br>
</br>
El servicio puede incluir todas o algunas de las siguientes actividades:</br>
&nbsp;&nbsp;&nbsp;&nbsp;1.	Estudio de cada caso para determinar si clasifica.</br>
&nbsp;&nbsp;&nbsp;&nbsp;2.	Indicar  los documentos necesarios que debe preparar según el estudio realizado del caso. </br>
&nbsp;&nbsp;&nbsp;&nbsp;3.	Revisión de los documentos que hayan adquirido y orientar, en caso necesario, las correcciones de errores. </br>
&nbsp;&nbsp;&nbsp;&nbsp;4.	Llenar los formularios que se exigen en cada caso para presentar la solicitud.</br>
&nbsp;&nbsp;&nbsp;&nbsp;5.	Hacer las fotocopias de los documentos que proceden en casa caso.</br>
&nbsp;&nbsp;&nbsp;&nbsp;6.	Gestionar la adquisición de la certificación o partida de nacimiento del abuelo, en caso que no tenga disponible el original de España.</br>
&nbsp;&nbsp;&nbsp;&nbsp;7.	Extraer las certificaciones de nacimiento de los nietos y de su padre/madre de los registros civiles de Cuba y legalizarlos en la La Habana.</br>
&nbsp;&nbsp;&nbsp;&nbsp;8.	Solicitar la certificación de inmigración y extranjería (a nombre del nieto o hijo de español sobre el emigrante) sobre el registro o no de dicho abuelo en Cuba y si obtuvo o no la nacionalidad cubana. Legalizarlo también una vez obtenido dicho certificado. (Este certificado esta demorando muchos meses)</br>
&nbsp;&nbsp;&nbsp;&nbsp;9.	En caso de ser posible, extraer documentos de archivos históricos y registros civiles que sustituyan el demorado certificado de Inmigración y Extranjería.</br>
&nbsp;&nbsp;&nbsp;&nbsp;10.	Solicitud del certificado de matrimonio de los padres del nieto y legalizarlo.</br>
&nbsp;&nbsp;&nbsp;&nbsp;11.	Entrega persona y ordenados los documentos que deben ser entregados en los consulados de E.U. que corresponda y los documentos que solo deben ser mostrados en el momento de la cita consular.</br>
&nbsp;&nbsp;&nbsp;&nbsp;12.	GESTIONAR y obtener una CITA CONSULAR para presentar los documentos.</br>
</br>
</br>


COSTOS DE SOLICITUDES Y LEGALIZACIONES DE DOCUMENTOS , ASI COMO LOS COSTOS DE TRAMITES Y ASESORIA </br>
</br>
<table>
<tr><td>DOCUMENTOS</td>	<td>costo/sellos</td>	<td>costo legalizar</td>	<td>	TOTAL</td></tr>
<tr><td>solicitud y legalizacion Insc. Nacimiento del nieto ó hijo</td>	<td>	0.24</td>	<td>	120</td>	<td>	120.24</td></tr>
<tr><td>solicitud y legalizacion Insc. Nacimiento del padre del nieto</td>	<td>	0.24	</td>	<td>120</td>	<td>	120.24</td></tr>
<tr><td>solicitud y legalizacion certificado Matriomonio padres del nieto	</td>	<td>0.24</td>	<td>	0</td>	<td>	0.24</td></tr>
<tr><td>Solicitud certificado Inmigracion y Extranjeria	</td>	<td>1.92</td>	<td>	0</td>	<td>	1.92</td></tr>
<tr><td>TOTAL COSTOS DOCUMENTOS EN CUBA</td>	<td>	2.64	</td>	<td>240	</td>	<td>242.64</td></tr>
</table>
</br> 	 	 
<table>	 
<tr><td>TRAMITES Y ASESORIA	 	</td>	<td> 	HONORARIOS</td></tr>
<tr><td>Módulo 1: Solicitud y legalizacion Inscripciones nacimiento y Matrimonio	 	</td>	<td> 	100</td></tr>
<tr><td>Módulo 2: Solicitud de certificado DIE sobre el abuelo	 	</td>	<td> 	25</td></tr>
<tr><td>Módulo 4: Búsqueda y obtención Insc. Nac o Partida Bautismo Abuelo	 	</td>	<td> 	50</td></tr>
<tr><td>Módulo 3: Llenar Modelos de solicitud al Consulado (Anexo 1 y Datos)	</td>	<td> 	 	25</td></tr
<tr><td>Módulo 5: Solicitar CITA consular para entregar documentos	 </td>	<td>	 	10</td></tr
<tr><td>Módulo 6: Estudio del caso y asesoramiento para hacer los trámites	 </td>	<td>	 	50</td></tr
<tr><td> 	 </td>	<td>	 	260</td></tr
<tr><td>TOTAL GENERAL	 </td>	<td>	 	502.64</td></tr>
</table>
</br>
Si desea más información puede enviar correo electrónico a camilaidy03@gmail.com o llamar a Laidy Pérez al teléfono +1 786 227 2792



</span>
{% endblock %}
 