{% extends "real_base.html" %}
{% load i18n %}

{% block content %}
<strong>Dragon NaturallySpeaking 10 Professional </strong>es la solución ideal para profesionales empresariales ocupados, que les permite crear documentos y mensajes de correo electrónico, rellenar formularios y optimizar tareas de flujos de trabajo, ¡todo con la voz! Es tres veces más rápido de lo que la mayoría de las personas puede escribir con el teclado, con una precisión de hasta un 99% inmediatamente después de instalado. Use un dispositivo de mano cuando no se encuentre en su PC, o bien, un micrófono Bluetooth. Cree comandos personalizados para automatizar tareas repetitivas que implican usar varias teclas o clics del mouse. Esta edición ofrece compatibilidad total con redes empresariales, incluidas las nuevas funciones de seguridad, una guía de administración especial para profesionales de tecnología de la información y compatibilidad con implementaciones de Citrix <br />
<br />
CARACTERISTICAS: <br />
Hasta un 99% más de precisión y tres veces más rápido que el teclado <br />
La mayoría de las personas pueden decir más de 120 palabras por minuto, pero escriben menos de 40 utilizando el teclado en la misma cantidad de tiempo. Esto significa que con Dragon NaturallySpeaking usted puede generar documentos y mensajes de correo electrónico hasta tres veces más rápido. Dragon nunca comete errores de ortografía. De hecho, mientras más lo use, mejor escribirá. <br />
<br />
Facilidad de uso <br />
Dragon NaturallySpeaking se instala rápidamente y no requiere lectura de un texto determinado. Nuevos tutoriales y nuevas ayudas en pantalla harán que se convierta en experto en un abrir y cerrar de ojos. <br />
<br />
Para uso con cualquier programa para Windows <br />
Use su voz para dictar, modificar y controlar texto prácticamente en cualquier aplicación de Windows, entre ellas el paquete completo de Microsoft Office, Microsoft Internet Explorer y Corel WordPerfect. <br />
<br />
Optimice tareas complejas o repetitivas de creación de documentos <br />
Cree comandos de voz personalizados para automatizar y acelerar tareas repetitivas que realiza docenas de veces al día. Dragon NaturallySpeaking 10 Professional permite a las organizaciones configurar macros para elementos que se usan con más frecuencia, como firmas, texto repetitivo, frases, párrafos y más, a fin de que los procesos de varios pasos puedan ejecutarse automáticamente con un solo comando de voz. <br />
<br />
Listo para usar en red <br />
Dragon NaturallySpeaking 10 Professional ofrece herramientas administrativas para administrar grandes poblaciones de usuarios. Las organizaciones que tienen grandes instalaciones pueden administrar centralmente perfiles de voz, vocabularios personalizados e instalaciones múltiples. <br />
<br />
Productividad para trabajadores móviles <br />
Dicte a cualquier dispositivo de mano certificado por Nuance para luego transcribir la grabación automáticamente mediante sincronización con su PC. Use Dragon NaturallySpeaking con los auriculares con micrófono Bluetooth aprobados por Nuance para obtener resultados excelentes en dictado, sin cables. Convenientes para usar con sistemas de pizarras electrónicas (Tablet PC). <br />
<br />
Brinda accesibilidad a trabajadores con discapacidades y protege a los empleados de lesiones por esfuerzos repetitivos <br />
Dragon NaturallySpeaking 10 Professional puede ayudar a las organizaciones a satisfacer sus necesidades relacionadas con la gestión de discapacidades, ya que está certificado por la Sección 508. Independientemente de si los empleados tienen discapacidades permanentes o están en rehabilitación momentánea, Dragon NaturallySpeaking 10 Professional permite que todos puedan seguir con sus tareas. Mediante el control del equipo y la creación de documentos con la voz, los usuarios pueden reducir el riesgo de desarrollar lesiones por esfuerzo repetitivo, tales como el síndrome del túnel carpiano. <br />
<br />
NUEVO Accesos directos de voz de Dragon para correo electrónico y calendario <br />
En cualquier momento, independientemente de las aplicaciones que estén activas en la pantalla, usted puede crear e indicar la dirección de un mensaje de correo electrónico. Por ejemplo, mientras visita un sitio en Internet, tal vez necesite enviar un mensaje de correo electrónico a sus colegas. Simplemente diga “enviar correo electrónico a Jon Smith y Raphael Sanchez” y Dragon abrirá su programa de correo electrónico, creará un mensaje nuevo e incluirá los nombres de contacto que usted dijo en el campo “Para:”. O si necesita programar una reunión de grupo, el usuario puede decir “Programar reunión con [nombre de la lista de distribución guardada]”, y Dragon inicia el proceso mediante la apertura de una entrada nueva en el calendario en Outlook y agrega los contactos seleccionados. <br />
<br />
NUEVO Accesos directos de voz de Dragon para búsqueda en Internet <br />
Facilite y acelere la búsqueda en Internet. Simplemente diga un comando que contiene sus palabras de búsqueda deseadas, por ejemplo &quot;Buscar en Internet recursos de gestión financiera&quot; o &quot;Buscar mapas de restaurantes italianos en Burlington, Massachusetts&quot; y Dragon usará el motor de búsqueda y el explorador de Internet predeterminado para ingresar los términos que dictó en el campo de búsqueda y presentarle los resultados. Además, también puede buscar lugares específicos o buscar en Internet un tipo determinado de información con comandos como “Buscar en Wikipedia George Washington Carver” o “Buscar en eBay auriculares Bluetooth”. Los sitios compatibles con los accesos directos de voz de Dragon incluyen Google, Yahoo, eBay, Wikipedia, YouTube y muchos más. <br />
<br />
NUEVO Accesos directos de voz de Dragon para búsqueda en el escritorio <br />
Realice búsquedas en su equipo, como lo hace directamente en Internet, dictando <br />
la(s) palabra(s) para encontrar documentos, mensajes de correo electrónico y el historial de navegación en Internet. Por ejemplo, puede decir “Buscar en el equipo planes de lanzamiento” y Dragon completará la búsqueda con las herramientas de Google Desktop o Windows Vista. Además, los comandos como “Encontrar mensaje de correo electrónico sobre el informe de Robinson” directamente abren el primer mensaje de correo electrónico que contiene las palabras clave dictadas. Realizar búsquedas en su equipo nunca fue tan rápido ni sencillo. <br />
<br />
DATOS TECNICOS <br />
Especificaciones mínimas <br />
CPU: Intel® Pentium® o posterior, o AMD Athlon 64 1 GHz o posterior. (Se requiere un conjunto de instrucciones SSE2) Memoria: 512 MB de RAM (1 GB de RAM para Windows Vista™ y 2 GB de RAM para Windows 7 32 bits y 64 bits) <br />
Espacio libre en disco duro: 1 GB (2 GB para las versiones localizadas no destinadas al mercado inglés) <br />
Caché L2: 512 KB <br />
Sistemas operativos compatibles: <br />
Windows Server 2000 <br />
Windows Server 2003 <br />
Windows XP SP2 y SP3, de 32 bits <br />
Windows 2000 SP4 <br />
Windows Vista™ SP1 y SP2, de 32 bits y 64 bits <br />
Windows 7, de 32 bits y 64 bits <br />
Unidad de DVD-ROM (para la instalación) <br />
Microsoft® Internet Explorer 6 o superior (descarga gratuita disponible en www.microsoft.com). <br />
Auriculares con micrófono con anulación de ruidos aprobados por Nuance (incluido); tarjeta de sonido Creative® Labs Sound Blaster® 16 o equivalente, compatible con grabación de 16 bits; <br />
Para obtener información sobre micrófonos Bluetooth, pizarras electrónicas (Tablet PC) y otros hardware, diríjase a support.nuance.com/compatibility/ <br />
Conexión a Internet para realizar la activación <br />
Durante el proceso de instalación, el software verifica que su sistema cumpla con estos requisitos; si no es así, no se instalará. <br />
<br />
Especificaciones recomendadas <br />
CPU: Procesador Intel® Pentium® 2.4 GHz (procesador de doble núcleo de 1.6 GHz) o procesador AMD equivalente. (Se requiere un conjunto de instrucciones SSE2) <br />
Memoria: 1 GB de RAM (2 GB de RAM para Windows 7 32 bits y 4 GB de RAM para Windows 7 64 bits) <br />
Caché L2: 1 MB <br />

<p>Si quieres comprar la versión en inlgés solo tienes que dar click en el banner a continuación. Si prefieres la de Español entonces debes cambiar el país(country) a Spain y seleccionar Dragon NaturallySpeaking</p>
<p>
<a href="http://www.kqzyfj.com/click-4118409-10368823">
<img src="http://www.tqlkg.com/image-4118409-10368823" width="468" height="68" alt="Dragon NaturallySpeaking 11 Premium by Nuance" border="0"/></a>
</p>
{% endblock %}