<!DOCTYPE HTML>
<html>
<head>
	<title>Java Script Resources</title>
	<link rel="stylesheet" href="http://www.Gilsonsoftware.com/upcs_mobile/upcs_data/jquery/jquery.mobile-1.0a2.css" />
    <script type="text/javascript" src="http://www.Gilsonsoftware.com/upcs_mobile/upcs_data/jquery/jquery-1.4.4.js"></script>
	<script type="text/javascript" src="http://www.Gilsonsoftware.com/upcs_mobile/upcs_data/jquery/jquery.mobile-1.0a2.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes" />


</head>
<body>
<div id="home" data-role="page" data-theme="b">
	<div data-role="header" data-theme="b">
		<H1>JavaScript Talks</H1>
	</div>
    <div data-role="content">
        <h2>Douglas Crockford</h2>

		<ul id="home_ul" data-role="listview" data-inset="true">

<li>
              <br>
		         <a href="http://video.search.yahoo.com/search/video?p=douglas+crockford+javascript&n=21&ei=utf-8&fr=sfp&tnr=21&js=1">Douglas Crockford at Yahoo</a></br>
			</li>

            <li>
              <br>
		<a href="http://video.yahoo.com/watch/111593/1710507">The JavaScript Programming Language(1 of 4)</a></br>
			</li>
		<li >
                      <br><a href="http://video.yahoo.com/watch/111594/1710553">The JavaScript Programming Language(2 of 4)</a></br>
			</li>

             <li >

                <br /><a href="http://video.yahoo.com/watch/111595/1710607">The JavaScript Programming Language(3 of 4)</a></br>
			</li>


             <li >
                      <br><a href="http://video.yahoo.com/watch/111596/1710658">The JavaScript Programming Language (4 of 4)</a></br>
			</li>

		 <li >

                      <br><a href="http://ydn.zenfs.com/blogs/videos/crockford-advancedjavascript-1.m4v">Advanced JavaScript (1 of 3)</a></br>

			</li>
		    <li >
                      <br><a href="http://ydn.zenfs.com/blogs/videos/crockford-advancedjavascript-2.m4v">Advanced JavaScript (2 of 3)</a></br>
			</li>

            <li >
                      <br><a href="http://ydn.zenfs.com/blogs/videos/crockford-advancedjavascript-3.m4v">Advanced JavaScript (3 of 3)</a></br>
			</li>

            <li >
                      <br><a href="http://www.youtube.com/watch?v=hQVTIJBZook">JavaScript the good parts</a></br>
			</li>

            <li >
                      <br><a href="http://video.yahoo.com/watch/529579/2724346">Quality</a></br>
			</li>

            


        </ul>



	<div id="footer_bar" data-role="footer" data-theme="b" data-position="fixed">
<iframe src="http://rcm.amazon.com/e/cm?t=cubanoshaciam-20&o=1&p=8&l=as1&asins=0596517742&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
	</div>
</div>

</body>
</html>
