<!DOCTYPE HTML>
<html>
<head>
	<title>Educacion es la clave</title>
	<link rel="stylesheet" href="http://www.Gilsonsoftware.com/upcs_mobile/upcs_data/jquery/jquery.mobile-1.0a2.css" />
    <script type="text/javascript" src="http://www.Gilsonsoftware.com/upcs_mobile/upcs_data/jquery/jquery-1.4.4.js"></script>
	<script type="text/javascript" src="http://www.Gilsonsoftware.com/upcs_mobile/upcs_data/jquery/jquery.mobile-1.0a2.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes" />


</head>
<body>
<div id="home" data-role="page" data-theme="b">
	<div data-role="header" data-theme="b">
		<H1>Educacion</H1>
	</div>

    <div data-role="content">
        <p>
            La instruccion es algo que te puede salvar de horas de trabajo en lugares que nunca quisieras haber estado</br>
            Esta es una lista que te puede servir de mucha ayudad con sitis que te pueden ensennar muchas materias desde filosofia hasta ciencia de la computacion.
        </p>

		<ul id="home_ul" data-role="listview" data-inset="true">

            <li>
              <br>
		          <a href="http://www.cubanoshaciamiami.com/informacion/adaptaciones/13%20-JSResources">Programacion(Javascript Resources)</a></br>
                  <!--www.cubanoshaciamiami.com/--!>
			</li>
		      <li >
                      <br><a href="http://KhanAcademy.org">Khan Academy</a></br>
			</li>
            <li>
            <br><a href="http://see.stanford.edu/see/courses.aspx"> Conferencias de Stanford</a></br>
            </li>
            <li>
                <br><a href="http://www.openculture.com/freeonlinecourses"> Cursos Gratis</a></br>
            </li>

        </ul>



	<div id="footer_bar" data-role="footer" data-theme="b" data-position="fixed">

	</div>
</div>

</body>
</html>
