{% extends "default.html" %}

{% block content %}
  <P editor_id="mce_editor_0"><FONT color=#ff0000><STRONG><EM>
	<SPAN editor_id="mce_editor_0"><FONT color=#339999>Direcciones en Miami</FONT><BR>
	<BR>Las direcciones en miami se escriben de la siguiente forma:</SPAN></EM><I><SPAN> 
	2535 E 92 ST, HIALEAH, FL 33013 <BR></SPAN></I></STRONG></FONT>
	<SPAN><font color="#ff0000"><strong><i><BR></i></strong></font></SPAN>
	<SPAN editor_id="mce_editor_0">Veamos como se interpreta. El </SPAN>
	<font color="#ff0000"><strong><i><span>2535 </span></i></strong></font>
	<SPAN editor_id="mce_editor_0">es el número de la casa pero realmente ese 
	número también dice la calle o avenida donde esta ubicada, o sea, los 
	últimos dos dígitos de ese número si corresponden a la casa y los dos 
	primeros a una avenida en este caso. La </SPAN><font color="#ff0000">
	<strong><i><span>E </span></i></strong></font>
	<SPAN editor_id="mce_editor_0">significa que es el </SPAN>
	<font color="#ff0000"><strong><i><span>Este </span></i></strong></font>
	<SPAN editor_id="mce_editor_0">de la ciudad, en este caso </SPAN><i><strong>
	<font color="#ff0000"><span>HIALEAH. </span></font></strong></i>
	<SPAN editor_id="mce_editor_0">Eso quiere decir que esa</SPAN><i><strong><font color="#ff0000"><span>
	</span></font></strong></i><SPAN editor_id="mce_editor_0">dirección es entre 
	la ave 25 y la calle 90 del Este de Hialeah.</SPAN><span><font color="#ff0000"><strong><i> 
	FL</i></strong></font></span><SPAN editor_id="mce_editor_0"> florida y</SPAN><font color="#ff0000"><i><strong><span> 
	33103 </span></strong></i></font><SPAN editor_id="mce_editor_0">el código 
	postal, que aquí se dice zip code. </SPAN>
</P>
<P editor_id="mce_editor_0">Abreviaturas importantes:</P>
<P editor_id="mce_editor_0">av&nbsp;&nbsp; --- avenue (avenida)</P>
<P editor_id="mce_editor_0">ct&nbsp;&nbsp; --- court (estas son avenidas que no 
son muy largas)</P>
<P editor_id="mce_editor_0">ln&nbsp; --- lane(estas son avenidas que no son muy 
largas)</P>
<P editor_id="mce_editor_0">st&nbsp;&nbsp; --- street (calle)</P>
<P editor_id="mce_editor_0">pl&nbsp;&nbsp; --- place (estas son calles que 
entran a algún lugar pero que no son muy largas)</P>
<P editor_id="mce_editor_0">tr&nbsp;&nbsp; --- terrace (estas son calles que 
entran a algún lugar pero que no son muy largas)</P>
<P editor_id="mce_editor_0"><SPAN><FONT size=3 editor_id="mce_editor_0"><B><BR>
	<FONT color=#339999 editor_id="mce_editor_0">Algunas características para 
conocer mejor la zona:<BR>
	&nbsp;</FONT></B></FONT></SPAN></P>
<P editor_id="mce_editor_0"><SPAN>Las ciudades se dividen en Este(Est), 
Oeste(West), Sur(South) y Norte(North).</SPAN></P>
<P editor_id="mce_editor_0">Las avenidas corren de Sur a Norte y las calles de 
oeste a Este.</P>
<P editor_id="mce_editor_0">En Hialeah el este y el oeste est<SPAN>án divididos 
por la calle PALM AVENUE .</SPAN></P>
<P editor_id="mce_editor_0">El norte y el sur de Miami<SPAN> están divididos por 
la calle Flagler. </p>
<P editor_id="mce_editor_0">El NorthWest y el NorthEast de Miami<SPAN> están divididos por 
la calle North Miami Avenue. </p>
	<BR></SPAN><B><SPAN></SPAN></B><B><SPAN></SPAN></B><B><SPAN>
	<FONT size=3 editor_id="mce_editor_0"><BR><FONT color=#339999>Como podemos 
ayudarnos:</FONT></FONT></SPAN></B></P>
<P editor_id="mce_editor_0"><span>La opción cara es comprando un GPS pero 
cuestan más de 100 dolares y eso lo hace casi inaccesible para la mayoría de 
nosotros cuando llegamos de Cuba.</span></P>
<P editor_id="mce_editor_0">Si tienen internet en casa pueden usar el sitio
<a href="http://www.miamidade.gov/transit">www.miamidade.gov/transit</a> para 
saber el recorrido de las <span>guaguas. Si le dan a la opción trip planer en 
esa página llegan a <a href="http://www.google.com/transit">
www.google.com/transit</a> y es muy fácil usar esta herramienta para saber cúal 
es el mejor recorrido ya sea, a pie, en guagua o en carro.</span></P>
<p editor_id="mce_editor_0">Tambien usando internet existe un sitio llamado
<a href="http://www.mapquest.com">www.mapquest.com</a> que nos permite saber 
hasta cuanto consumiremos de gasolina para llegar de un lugar a otro.</p>
<p editor_id="mce_editor_0">&nbsp;</p>
<p editor_id="mce_editor_0">Esperamos que la información les haya sido valiosa 
para empezar a ubicarse en la ciudad.</p>
  <table border="0" width="100%" cellpadding="0" cellspacing="0" id="other_footer">
<tr>
<td align="left" valign="middle"><p editor_id="mce_editor_0">&nbsp;</p></td>
</tr>
</table>
<p editor_id="mce_editor_0"><span>
<!-- End content section -->
			 
{% endblock %}</span></p>
