{% extends "real_base.html" %}
{% load i18n %}
<span lang="es">
{% block content %}<h1>&nbsp;Compan&iacute;as de tel&eacute;fono en Miami</h1>
<p>La lista de compan&iacute;as de tel&eacute;fonos es grande. Por ahora solo queremos decirle
que si usted ya tiene medicaid, o Food Stamps (Bonos de
Comida), usted puede solicitarle a <a href="https://www.safelinkwireless.com/EnrollmentPublic/Home.aspx">
www.safelikwireless.com</a> un celular gratis. Esto forma parte de la ayuda que
el gobierno le quiere dar a los que menos tienen. Este tel&eacute;fono s&oacute;lo tiene 60
minutos mensuales pero sirve para no estar totalmente incomunicados. Hay que
usarlo m&aacute;s o menos igual que en Cuba.</p>
&nbsp;<table border="1" width="100%" id="table1">
	<tr>
		<td width="100"><font color="#339999"><b>Compan&iacute;as</b></font></td>
	</tr>
	<tr>
		<td width="456"><A href=http://hola.metropcs.com/enes/>MetroPCS</A></td>
	</tr>
	<tr>
		<td width="456"><A href=http://www.t-mobile.com>T-Mobile</A></td>

	</tr>
	<tr>
		<td width="456"><A href=http://www.verizonwireless.com>VerizonWireless</A></td>
	</tr>
	<tr>
		<td width="456"><A href=http://www.att.com/>AT&T</A></td>
	</tr>
	<tr>
		<td width="456">
		&nbsp;</td>
	</tr>

</table>
<p>De estas empresas telefónicas la más barata es MetroPCS. Un plan puede costar solo 40 dólares al mes e incluye text messages y llamadas a todo el país sin costo adicional. Los planes de At&t son de minutos y me parece que cuando uno es pobre no se va a sentir a gusto con este plan. Si tienes que viajar mucho quizás si sea at&t tu opción porque tiene la mejor cobetura nacional.
</p>
</span>

<iframe src="http://rcm.amazon.com/e/cm?t=cubanoshaciam-20&o=1&p=8&l=as1&asins=B002M3SOBU&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

<p>{% endblock %}</p>
