{% extends "real_base.html" %}

{% block content %}
<span lang="es">
<h1>Cadenas Comerciales</h1>
<p align="left">Cuando uno llega conoce a muy pocos negocios de los existentes en Miami. Aqu&iacute; 
hay una lista incompleta de las grandes cadenas que existen en E.E.U.U. en 
general y en Miami en particular. Si quiere seguir a&ntilde;adiendo puede contactarnos 
a <a href="mailto:camilaidy03@gmail.com">camilaidy03@gmail.com</a></p>
<table border="1" width="88%" id="table1">
	<tr>
		<td width="188">
		<p align="center"><font color="#808000">&nbsp;&nbsp;&nbsp; Cadena</font></td>
		<td width="245">
		<p align="center"><font color="#808000">&nbsp;Aqu&iacute;
		se Dedican</td>
		<td>
		<span lang="es">
		<font color="#808000">Sitio Web</span></td>
	</tr>
	<tr>
		<td width="188">McDonalds</td>
		<td width="245">&nbsp; Hamburguesas</td>
		<td>
		<a href="http://www.mcdonalds.com">
		<img border="0" src="/wmedia/cubanos/mcdonald.jpg" width="90" height="67"></a></td>
	</tr>
	<tr>
		<td width="188">BurguerKing</td>
		<td width="245">
		&nbsp;Hamburguesas</td>
		<td><a href="http://www.bk.com/#menu=1,-1,-1"><img border="0" src="http://www.guiasenior.com/contenidos/images/BurgerKing2.gif" width="90" height="67"></a></td>
	</tr>
	<tr>
		<td width="188">Navarros</td>
		<td width="245">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="188">Sedanos</td>
		<td width="245">&nbsp;</td>
		<td>
		<img border="0" src="http://www.cruisecloseouts.com/S%20Pics/Sedano%27s%20Logo.jpg" width="184" height="67"></td>
	</tr>
	<tr>
		<td width="188">Publix</td>
		<td width="245">&nbsp;</td>
		<td><a href="http://www.publix.com/Home.do">
		<img border="0" src="http://www.publix.com/images/common/publixLogo.gif"width="180" height="67"></a></td>
	</tr>
	<tr>
		<td width="188">Family Dollars</td>
		<td width="245">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="188">JcPenny</td>
		<td width="245">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="188">&nbsp;</td>
		<td width="245">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>

</span>


{% endblock %}
