{% extends "default.html" %}
{% load i18n %}

{% block content %}


      <table border="0" name="" width="100%" cellpadding="5" cellspacing="0">
        <tr align="" valign="">
          <td colspan="" rowspan="" width="100%" align="" valign="top"><p editor_id="mce_editor_0"><font face="Arial,Geneva,Verdana,Sans-Serif" color="#000000" size="3"><strong><em editor_id="mce_editor_0">We are located at:<br />
          </em></strong></font></p>
            <font face="Arial,Geneva,Verdana,Sans-Serif" size="3" editor_id="mce_editor_0">
              <address editor_id="mce_editor_0">
                <strong><font size="4"><font face="arial, verdana, sans-serif"><font size="+0"><span editor_id="mce_editor_0"><font color="#000000" editor_id="mce_editor_0">12319&nbsp;SW 132nd Ct,&nbsp;STE A<br />
                  </font></span></font></font></font></strong><strong><font size="4"><font face="arial, verdana, sans-serif"><font size="+0"><span editor_id="mce_editor_0"><font color="#000000">Miami, FL 33186</font></span><span><br />
                    </span></font></font></font></strong>
            </address>
            </font>
            <address editor_id="mce_editor_0">
              <font face="Arial,Geneva,Verdana,Sans-Serif" color="#000000" size="3"><strong editor_id="mce_editor_0">Office: 305.969.4455</strong></font>
            </address>
            <address>
              <font face="Arial,Geneva,Verdana,Sans-Serif" color="#000000" size="3"><strong editor_id="mce_editor_0">Mobil: 305.322.6055</strong></font>
            </address>
            <address editor_id="mce_editor_0">
              <font face="Arial,Geneva,Verdana,Sans-Serif" color="#000000" size="3"><strong editor_id="mce_editor_0">E-mail: 
				<a href="mailto:camilaidy03@gmail.com">camilaidy03@gmail.com</a></strong></font><a href="mailto:camilaidy03@gmail.com">
				</a>
            </address></td>
        </tr>
      </table>

{% endblock %}
