<html>
<head>
<title>Cubanos Hacia Miami, emigracion de cuba a miami...</title>
	<link rel="stylesheet" href="/wmedia/css/master.css">
	<link rel="stylesheet" href="/wmedia/386/cgi-bin/icwebsiteelement.css">
	<meta name="robots" content="index, follow">
	<meta name="description" content="Cubanos, Cuba, emigracion, miami, trabajo">
	<meta name="keywords" content="Cubanos, Cuba, emigracion, miami, bombo, reclamacion">

    <link rel="stylesheet" href="http://www.gilsonsoftware.com/upcs_mobile/upcs_data/jquery/jquery.mobile-1.0a2.css" />
    <script type="text/javascript" src="http://www.gilsonsoftware.com/upcs_mobile/upcs_data/jquery/jquery/jquery-1.4.4.js"type="text/ecmascript"></script>
	<script type="text/javascript" src="http://www.gilsonsoftware.com/upcs_mobile/upcs_data/jquery/jquery/jquery.mobile-1.0a2.js"></script>

    <meta charset="iso-8859-1">
	<META HTTP-EQUIV="Content-Type"    CONTENT="text/html; charset=ISO-8859-1">
{% block more_head %}
{% endblock %}
</head>

<body  bgcolor="white" text="#000000">
<center>
<table width="760" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="140" height="32" rowspan="2"><img src="/wmedia/386/images/top_left.jpg" width="140" height="88"></td>
    <td width="460" height="32">
    <img height="80" src="/wmedia/cubanos/cubaflag.jpeg">
    <img height="80" src="/wmedia/cubanos/bici.jpeg">
    <img height="80" src="/wmedia/cubanos/usaflag.jpeg">

  </tr>
  <tr>
      <td colspan="3"><img src="/wmedia/386/images/top_content_bar.jpg" width="620" height="1"></td>
  </tr>
  <tr>
      <td width="140" align="center" valign="top" background="/wmedia/386/images/striped_background.jpg">

	  <table><tr><td background="/wmedia/386/images/spacer.gif"><!-- Start buttons section -->
	  	<center>
	  		{% for m in Menues %}
            <a href="{{ m.href }}" title="{{m.name}}">{{m.name}}</a><br/>
            {% endfor %}
				</center>
	  	<img name="spacer" src="/wmedia/386/images/spacer.gif" width=1 height=1 border=0>
	  	</td>
	  	</tr>
	  	</table>

      </td>
    <td colspan="3">
		<table border="0" cellspacing="0" cellpadding="5" width="620">
			<tr>
				<td width="616" valign="top" align="left" bgcolor="#ffffff">
					<script type="text/javascript"><!--
					google_ad_client = "pub-3343684011388928";
					/* 728x90, created 5/11/10 */
					google_ad_slot = "6897848163";
					google_ad_width = 728;
					google_ad_height = 90;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
					{% block content %}{% endblock %}</FONT>

<!-- End content section -->
				</td>
				<td width="30" >
					{% block rightcontent %}{% endblock %}

				</td>
			</tr>
		</table>
      </td>
  </tr>
  <tr>
    <td colspan="2"><img src="/wmedia/386/images/left_btm.jpg" width="600" height="19"></td>
    <td width="66"><img src="/wmedia/386/images/mid_btm.jpg" width="66" height="19"></td>
    <td width="265" background="/wmedia/386/images/mid_btm.jpg" style="background-image:/wmedia/386/images/motif01.jpg" valign="top"></td>
  </tr>
</table>

<!-- Template Design by Network Solutions, LLC  -->
</center>
</body>
</html>