{% extends "www.speedycomputers.us.htm" %}

{% block content %}
<H2> Encuestas </H2>
{% if latest_poll_list %}
    <ul>
    {% for poll in latest_poll_list %}
        <li><a href=/encuestas/{{poll.id}}>{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No existen encuestas disponibles.</p>
{% endif %}

<form action = "/encuestas/agregar/" method="post">
	<label>Otra Encuesta&nbsp;</label>
	<input name="encuestanueva" type="text"  value=""> 
	<input type="submit" value="Agregar"></input> 

	</form>


{% endblock %}
