{% extends "www.speedycomputers.us.htm" %}
{% load i18n %}

{% block content %}
<style type="text/css">
body    { font-size:10px; font-weight:normal; background-color:#FFFFFF; color:#000000; text-decoration:none; }
pre     { font-size:10px; font-weight:normal; background-color:#E7EFFF; color:#000000; text-decoration:none; }
p	{ font-size:10px; font-weight:normal; background-color:#E7EFFF; color:#000000; text-decoration:none; }
a       { font-family:Arial,sans-serif; font-size:12px; font-weight:bold; background-color:#E7EFFF; color:#0030CE; text-decoration:none; }
td      { font-family:Arial,sans-serif; font-size:12px; font-weight:bold; background-color:#E7EFFF; color:#0030CE; text-decoration:none; }
a:hover { font-family:Arial,sans-serif; font-size:12px; font-weight:bold; background-color:#E7EFFF; color:#000000; text-decoration:none; }
</style>
{% endblock %}

{% block content %}

<p>
<FONT color=#339999 editor_id="mce_editor_0" face="arial, verdana, sans-serif">
<b>Mision</b></font></p>
<p>Convertirnos en el sitio de mayor ayuda para el emigrante cubano. Lugar de 
referencia obligado si se quiere conocer todo lo relacionado con la emigracion 
desde Cuba hacia Miami.</p>
<p>&nbsp;
	
{% endblock %}</p>
