{% extends "real_base.html" %}
<span lang="es">

{% block content %}
<H1> Viajar a Cuba</h1>
</br>
Ya que te has estabilizado un poco en este país, quisieras ir a ver a tu gente que se quedó en Cuba. Para hacerlo necesitas tener un pasaporte válido y un permiso que se otorga una sola vez. Para obtener esos permisos puedes usar alguna agencia en miami que se dedique a eso. La que encotramos nototros cobra 30 dólares por cada trámite.</br>
</br>
 Si por ejemplo tienes que hacer una prórroga de pasaporte y una validación(permiso) te costaría 160 prórroga, 20 un money order y los 30 de la agencia. Total 210. Si a eso le sumas la validación se convierte en 30 dólares más por la agencia.</br>
 </br>
La infomarción sobre la cancillería cubana es esta.
 </br>

ESTADOS UNIDOS DE AMERICA </br>
</br>
Cancillería:2630 16th. St. NW., Washington D. C. 20009</br>
Teléfonos: 1(202) 797-8518 al 20(Pizarra )</br>
Fax: 1(202) 797-8521</br>
E-mail: ofia@sicuw.org</br>
web site : <a href="http://embacu.cubaminrex.cu/Default.aspx">embacu.cubaminrex.cu</a><br>
           <a href="http://embacu.cubaminrex.cu/Default.aspx?tabid=14180">Servicios Consulares</a></br>
           <a href="http://embacu.cubaminrex.cu/Default.aspx?tabid=14166">Prorrogas</a><br>
            <a href="http://embacu.cubaminrex.cu/Default.aspx?tabid=6641">Aranceles</a><br>
<a href="http://embacu.cubaminrex.cu/Default.aspx?tabid=6681">Información para el llenado el Modelo</a></br>

<p><a href="/pasaporte">Si Quieres llenar el formulario con nosotros usa este link</a></p></br>


</br>
 </br>
Si llaman ahí les saldrá un IVR(interactive voice response) que les dirá la información sobre el consulado.</br>
</br>
Por ahora solo anoté la información de los teléfonos del consulado. </br>
+1202-797-8609</br>
+1202-797-8610</br>
+1202-797-8615
 </br>
</br>
Espero que nos sirva a todos esta info.
 </br>
</span>
{% endblock %}
